/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");
.encargos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.formulario-contacto {
  width: 800px;
  margin: auto;
  padding: 0 0 75px 0;
}
@media (max-width: 720px) {
  .formulario-contacto {
    width: 350px;
  }
}

.main-encargos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 720px) {
  .main-encargos {
    width: 350px;
  }
}

.boton-color {
  background-color: #0a5c0a;
}

.contenido-encargos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido-encargos h3 {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.contenido-encargos p {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 25px;
}
.contenido-encargos img {
  width: 150px;
}

.color-boton {
  background-color: calc(infinity * 1a);
}

.agrandar_form {
  width: 600px;
}

@media (max-width: 720px) {
  .agrandar_form {
    width: 350px;
  }
}
footer {
  width: 100%;
  background-color: #0a5c0a;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 15px 35px 15px 35px;
}

.contenido-principal {
  width: 100%;
  padding: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #008000;
  color: #FFFFFF;
}

header p {
  font-size: 35px;
}

body {
  font-family: "Roboto", sans-serif;
}

.contenido-grid {
  padding-top: 75px;
  padding-bottom: 25px;
}

.contenido-grid img {
  width: 350px;
  height: 350px;
}

.col img {
  padding: 15px;
}

span {
  font-weight: 800;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 15px;
}

.nav-flex {
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: green;
  font-size: 20px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  background-color: rgb(196, 197, 197);
  color: #FFFFFF;
}

.productos-desc {
  display: flex;
  padding: 35px 35px 0 35px;
  justify-content: center;
}
.productos-desc p {
  width: 600px;
  font-size: 16px;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 75px;
}

.card {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
}
.card img {
  width: 100%;
  height: 100%;
}
.card h1 {
  font-size: 32px;
}
.card p {
  padding: 10px;
}
.card h5 {
  padding: 10px;
}
.card a {
  background-color: #008000;
  padding: 10px;
  margin-top: auto;
}
.card a:hover {
  background-color: #0a5c0a;
  transition: 0.3s;
}

.contenedor_sobrenosotros img {
  width: 600px;
  height: 400px;
  padding: 30px;
}

.main-container {
  padding: 150px;
  align-items: center;
}

@media (max-width: 860px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}
.display_flex {
  padding: 35px;
}
.display_flex h2 {
  padding: 15px;
}

.cart-clientes {
  width: 800px;
  padding: 35px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  place-items: center;
  margin: auto;
}
.cart-clientes img {
  height: 400px;
  width: 400px;
}

.cart-info p {
  padding: 15px;
}

@media (max-width: 860px) {
  .cart-clientes {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
