.encargos {
    // width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.formulario-contacto {
    width: 800px;
    margin: auto;
    padding: 0 0 75px 0;
    @media (max-width: 720px) {
        width: 350px;
    }
}


.main-encargos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 720px) {
        width: 350px;
    }
}

.boton-color {
    background-color: $secundario;
}
.contenido-encargos  {
    display: flex;
    flex-direction: column; 
    align-items: center;
    h3 {
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    p {
        width: 60%;
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    img {
        width: 150px;
    }
}

.color-boton {
    background-color: map-get($colors, gray);
}
.agrandar_form {
    width: 600px;
}


@media (max-width: 720px) {
    .agrandar_form {
        width: 350px;
    }
}