.contenido-principal {
    width: 100%;
    padding: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: $colorprincipal;
    color: map-get($colors, pure-white);
}

header p {
    font-size: 35px;
}