.nav-flex {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: green;
    font-size: 20px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: green;
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white; 
}



nav a:hover {
    background-color: rgb(196, 197, 197);
    color: white;
}