.productos-desc {
  display: flex;
  padding: 35px 35px 0 35px;
  justify-content: center;
  p {
    width: 600px;
    font-size: 16px;
    text-align: center;

  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 75px;
}


.card {
  width: 300px;
  // height: 100%;  
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
 
  img {
    width: 100%;
  }
  h1 {
    font-size: 32px;
  }
  p {
    padding: 10px;
  }
  h5 {
    padding: 10px;
  }
  a {
    background-color: $colorprincipal;
    padding: 10px;
    &:hover {
      background-color: $secundario;
      transition: 0.3s;
    }
  }
}