.contenedor_sobrenosotros img {
    @include medidas(400px, 400px);
    padding: 30px;
}

.main-container {
    padding: 150px;
    align-items: center;
}


@media (max-width: 860px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
}

