.contenedor_sobrenosotros img {
    width: 400px;
    height: 400px;
    padding: 30px;
}

.main-container {
    padding-top: 30px;
    align-items: center;
}




@media (max-width: 860px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
}

