.contenedor_sobrenosotros img {
    @include medidas(600px, 400px);
    padding: 30px;
}

.main-container {
    padding: 150px;
    align-items: center;
}


@media (max-width: 860px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }
}

.display_flex {
    padding: 35px;
    h2 {
        padding: 15px;
    }
}